<h1>Add a phone number and birthday for  <%= @phone.name() %> </h1>

<form action="/contacts" method="post">
  <input id='phone_id' name='phone_id' type='hidden' value='<%= @phone.id() %>'>

  <p><label for='phone_number'>Contact's Phone Number:</label>
  <input id='phone_number' name='phone_number' type='text'></p>

  <p><label for='type'>Type of Phone (home, mobile, etc.):</label>
    <input id='type' name='type' type='text'></p>

  <p>(Optional) <label for='birthday'>Contact's Birthday:</label>
  <input id='birthday' name='birthday' type='text'></p>

  (Optional) <label for='year'>Year:</label>
  <input id='year' name='year' type='text'></p>

  <button type="submit">Add Info</button>
</form>

<h3>Here are all the Phone numbers and other info for this contact:</h3>

<ul>
  <% @phone.numbers().each() do |number| %>
  <li><a href="/contacts/<%= number.id() %>">Phone: <%= number.phone_number() %> <%= number.type() %> <p> <%= number.birthday() %>  <%= number.year() %></p></a></li>
  <% end %>
</ul>

<a href="/">Return to Main Page</a>
